@font-face {
    font-family: BrowserAssets;
    src: url(Fonts/BroMDL2.1.28.ttf);
    src: url(Fonts/BroMDL2.1.28.woff);
}

#pageMainContent {
    background-color: #FFFFFF;
}

.leftMenu {
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    padding-top: 77px;
}

.dashboard .leftMenu.col-xs-6 {
    padding-top: 32px;
}

.leftMenu.noApp {
    padding-top: 101px;
}

.dashboard .leftMenu.noApp.col-xs-6 {
    padding-top: 39px;
}

.noLeftNav .devcenter-nav ul {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#appInfoDesktop, #bundleInfoDesktop {
    display: block;
}

#appInfoMobile, #bundleInfoMobile {
    display: none;
}

    #appInfoMobile:focus .navAppName span, #bundleInfoMobile:focus .navAppName span {
        outline: 1px dotted;
    }

.devcenter-nav-title {
    display: none;
}

    .devcenter-nav-title:focus span {
        outline: 1px dotted;
    }

.navApp {
    display: table;
    margin-bottom: 32px;
}

    .navApp .navAppIcon {
        height: 60px;
        width: 60px;
        display: inline-block;
        margin-right: 1em;
        background-color: #d3d5d6;
        word-wrap: break-word;
    }

        .navApp .navAppIcon.hasIcon {
            background-color: transparent;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAH0lEQVQYlWPYtGnTf3R86NAhDMwwFBRiE8SmeSgoBAA3kj2k/B3URwAAAABJRU5ErkJggg==) repeat;
        }

        .navApp .navAppIcon img {
            height: 60px;
            width: 60px;
        }

    .navApp .navAppName {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        color: #000000;
        width: 100%;
    }

.dashboard .navApp .navAppName {
    vertical-align: top;
}

.navApp .navAppName span {
    position: relative;
    display: inline-block;
    line-height: normal;
    min-height: 1em;
    max-height: 2.8em;
    overflow: hidden;
    width: 100%;
}

.navApp .chevron {
    display: none;
}

.devcenter-nav ul {
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 32px 0px;
    border-bottom: solid 1px #d0d2d3;
}

.devcenter-nav li {
    list-style-type: none;
    margin-top: 20px;
    word-wrap: break-word;
    word-break: normal;
}

.devcenter-nav > ul > li:first-child {
    margin-top: 0px;
    padding-top: 0px;
}

.devcenter-nav li a div {
    display: inline-block;
}

.devcenter-nav a.active, .devcenter-nav a.active:link, .devcenter-nav a.active:visited {
    color: #000000;
}

.devcenter-nav a, .devcenter-nav a:link, .devcenter-nav a:visited {
    color: #656565;
    text-decoration: none;
}

    .devcenter-nav a.active:hover, .devcenter-nav a:hover {
        opacity: 0.6;
    }

    .devcenter-nav a.active:active, .devcenter-nav a:active {
        opacity: 0.4;
    }

.devcenter-nav ul li > ul {
    border-bottom: none;
    padding: 0px;
    margin: 0px;
}

    .devcenter-nav ul li > ul li {
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 1em;
    }

.noBackLink ul {
    margin-bottom: 12px;
}

.noBackLink a.devcenter-nav-backlink {
    display: none;
}

a.subLink {
    margin-top: 20px;
    display: block;
}

code {
    white-space: pre;
}

.clear {
    clear: both;
}

.devcenter-nav .win-icon {
    vertical-align: baseline;
}

.icon-win-ChevronDown:before {
    font-family: BrowserAssets;
    content: "\E70D";
    position: relative;
    top: 3px;
    font-size: .9em;
}

.icon-win-ChevronUp:before {
    font-family: BrowserAssets;
    content: "\E70E";
    position: relative;
    top: 3px;
    font-size: .9em;
}

.icon-win-Back:before {
    font-family: BrowserAssets;
    content: "\E72B";
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: .9em;
    padding-right: 5px;
}

.leftMenu a .icon-win-Back {
    display: inline-block;
    word-break: normal;
}

@media (max-width: 1399px) {
    .leftMenu {
        padding-top: 63px;
    }

        .leftMenu.noApp {
            padding-top: 80px;
        }

    .dashboard .leftMenu.col-xs-6 {
        padding-top: 30px;
    }
}

@media (max-width: 898px) {
    #appInfoDesktop, #bundleInfoDesktop {
        display: none;
    }

    #appInfoMobile, #bundleInfoMobile {
        display: block;
        height: 48px;
    }

    .dashboard .leftMenu.col-xs-6 {
        padding-top: 0px;
    }

    .dashboard .leftMenu.noApp.col-xs-6 {
        padding-top: 0px;
    }

    .devcenter-nav-title {
        display: block;
        min-height: 48px;
        margin-bottom: 0px;
        background-color: #F2F2F2;
        cursor: pointer;
    }

        .devcenter-nav-title span {
            display: inline-block;
            padding-top: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000000;
            width: auto;
            padding-left: 20px;
        }

        .devcenter-nav-title .chevron {
            float: right;
            top: 0px;
            display: inline-block;
            width: 48px;
            height: 48px;
            color: #000000;
            background-color: #E6E6E6;
            text-align: center;
            padding-top: 14px;
        }

    .navApp {
        height: 48px;
        margin-bottom: 0px;
        border-bottom: solid 1px #e9e9e9;
        background-color: #F2F2F2;
        cursor: pointer;
        line-height: normal;
    }

        .navApp .navAppIcon {
            display: block;
            height: 48px;
            width: 48px;
            margin-right: 1em;
            margin-left: 0px;
        }

            .navApp .navAppIcon img {
                height: 48px;
                width: 48px;
                vertical-align: auto;
                vertical-align: initial;
            }

        .navApp .navAppName {
            font-size: 16px;
            height: 48px;
        }

    .dashboard .navApp .navAppName {
        vertical-align: middle;
    }

    .navApp .navAppName span {
        display: inline-block;
        height: auto;
        min-height: initial;
        max-height: initial;
        color: #000000;
        overflow: initial;
    }

    .navApp .navAppName .showEllipses {
        display: none;
    }

    .navApp .navAppName span:before {
        display: none;
    }

    .navApp .navAppName span:after {
        display: none;
    }

    .navApp .chevron {
        display: table-cell;
        color: #000000;
        float: right;
        width: 48px;
        height: 48px;
        padding-top: 16px;
        text-align: center;
        background-color: #E6E6E6;
    }

        .navApp .chevron.icon-win-ChevronUp:before, .navApp .chevron.icon-win-ChevronDown:before {
            top: initial;
        }

    #contentWrapper > .row {
        margin: 0px;
    }

    .leftMenu.col-xs-6 {
        width: 100%;
        padding: 0px;
    }

        .leftMenu.col-xs-6.noApp {
            padding-top: 0px;
        }

    #pageMainContent.col-xs-18, .col-xs-18.pageMainContent {
        width: 100%;
        margin: 0px;
        background-color: #ffffff;
    }

    .devcenter-nav.mobileHide {
        display: none;
    }

    .devcenter-nav {
        background-color: #ffffff;
        border-bottom: solid 1px #e9e9e9;
        visibility: visible;
    }

        .devcenter-nav .icon-win-Back:before {
            display: none;
        }

        .devcenter-nav ul {
            margin: 0px;
            padding: 0px;
            border-bottom: none;
        }

        .devcenter-nav li {
            padding: 0px;
            border-bottom: solid 1px #e9e9e9;
            margin: 0px;
        }

        .devcenter-nav a {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
        }

            .devcenter-nav a, .devcenter-nav a:link, .devcenter-nav a:visited {
            }

                .devcenter-nav a.active, .devcenter-nav a.active:link, .devcenter-nav a.active:visited {
                    color: #000000;
                }

        .devcenter-nav ul li > ul {
            border-bottom: 0px;
            border-top: solid 1px #e9e9e9;
            background-color: #F2F2F2;
        }

            .devcenter-nav ul li > ul li {
                margin-top: 0px;
                margin-left: 0px;
                border-bottom: 0px;
            }

                .devcenter-nav ul li > ul li > ul {
                    border-top: none;
                }

                .devcenter-nav ul li > ul li:last-child {
                    border-bottom: 0px;
                }

        .devcenter-nav ul ul li a {
            padding-left: 40px;
        }

        .devcenter-nav ul ul ul li a {
            padding-left: 60px;
        }

        .devcenter-nav ul ul ul ul li a {
            padding-left: 80px;
        }

        .devcenter-nav ul ul ul ul ul li a {
            padding-left: 100px;
        }

        .devcenter-nav ul ul ul ul ul ul li a {
            padding-left: 120px;
        }

        .devcenter-nav ul ul ul ul ul ul ul li a {
            padding-left: 140px;
        }

        .devcenter-nav ul ul ul ul ul ul ul ul li a {
            padding-left: 160px;
        }

        .devcenter-nav .icon-win-ChevronDown, .devcenter-nav .icon-win-ChevronUp {
            float: right;
            padding-right: 20px;
            font-size: 8pt;
        }

    a.subLink {
        margin-top: 0px;
        display: block;
        border-top: solid 1px #e9e9e9;
    }
}
